---
interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<a href="/" class:list={['inline-flex focus-ring rounded-lg', className]} aria-label="vluegge Startseite">
  <img src="/assets/images/vluegge-logo.svg" alt="vluegge" class="h-8 w-auto" />
</a>
